/* Navbar here */
body{
    margin: 0;
    padding: 0;
    position: relative;
}
.nav{
    /* border: 1px solid red; */
    width: 100%;
    height: 80px;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.nav > .logo{
    width:20%;
    /* border: 1px solid red; */
}
.nav > .logo > img{
    width: 80%;
    height: 100%;
    padding-left: 50px;
} 
.navbar{
    display: flex;
    width: 60%;
    margin: auto;
    text-align: center;
    /* border: 1px solid red; */
    justify-content: space-evenly;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    /* color: red; */
}
.navbar > a {
    text-decoration: none;
    color: black;
}
.navbar > a:hover{
    /* font-size: 22px; */
    color: red;
    text-decoration: underline;
}
.navbar-icons{
   color: black;
   margin: auto;
   display: flex;
   justify-content: space-evenly;
   width: 10%;
}
.navbar-icons > a{
    background-color: lightgray;
    border-radius: 8px;
}
.active {
    /* background-color: black; */
    color:black;
    font-size:16px;
    padding: 10px;
    justify-content: space-evenly;
}
/* Slideshow here */
* 
{
    box-sizing:border-box;
}
#slideshow{
    margin: 0px 0px;
    /* border: 1px solid red; */
    height: 580px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
.slider {
    
    position: relative;
    width: 80%;
    overflow: hidden;
}
.images{
    display: flex;
    width: 100%;
}
.images > img{
    height: 480px;
    width: 100%;
    transition: all 0.15s ease;
}
.images input{
    display: none;
}
.dots{
    display: flex;
    justify-content: center;
    margin: 15px;
}
.dots > label{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: solid black 3px;
    cursor: pointer;
    transition: all 0.15s ease;
    margin: 5px;
}
.dots label:hover{
    background: gray;
}

#img1:checked ~ .m1{
    margin-left: 0;
}
#img2:checked ~ .m2{
    margin-left: -100%;
}
#img3:checked ~ .m3{
    margin-left: -200%;
}
#img4:checked ~ .m4{
    margin-left: -300%;
} 

/* Category here mentioned */
.category{
    margin: auto;
    text-align: center;
    margin:20px 20px;
}
.category h2{
    font-weight: lighter;
    font-family: sans-serif;
    font-size:36px;
}
.category p{
    font-weight: normal;
    font-family: sans-serif;
    font-size:22px;
}
.category > #brands {
    margin: 0px;
    text-align: center;
    width: 80%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    padding: 10px;
}
.category > #brands {
    margin: auto;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    gap:20px 40px;
    padding-top: 20px;
    padding-bottom: 50px;
    /* border-bottom: 1px solid red;
    border-top: 1px solid red; */
}
.category > #brands >img{
    width: 100%;
    height: 120px;
}

/* Varieties are here */
.varieties {
    width: 80%;
    margin: auto;
    text-align: center;
    
}
.varieties > h1{
    font-weight: lighter;
    font-family: sans-serif;
    font-size:36px;
}
.varieties > .accessories{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-evenly;
    padding-bottom: 50px;
    /* box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px; */
    gap:10px;
}
.varieties .accessories > div{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
.varieties .accessories > div > img{
    margin-top: 20px;
    width: 150px;
    height: 150px;
    border-radius: 50%;

}
/* Offers here */
#special {
    margin: auto;
    text-align: center;
}
#special > h1{
    font-weight: lighter;
    font-family: sans-serif;
    font-size:36px;
    margin-bottom: 20px;
}
#special > #offers{
    width: 80%;
    height: 450px;
    margin: auto;
    text-align: center;
    /* border: 1px solid red; */
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
#offers > div {
    width: 33%;
    padding: 15px;
    /* border: 1px solid red; */
}
#offers > div > img{
    width: 100%;
    padding: 10px;
    height: 75%;
}
#offers > div > button{
    width: 120px;
    height: 35px;
    margin: 20px;
}
#special > button {
    width: 120px;
    height: 35px;
    margin: 20px;
}
/* Community */
.com{
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    /* border: 1px solid red; */
}
.com > h1{
    font-weight: lighter;
    font-family: sans-serif;
    font-size:36px;
}
.com > #community{
    /* border:1px solid red; */
    margin: auto;
    text-align: center;
    display: flex;
}
.com > #community > img{
    /* border:1px solid red; */
    padding: 10px;
    width: 25%;
    height: 400px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    padding-bottom: 20px;
}
.com > button{
    margin-top: 25px;
    height: 45px;
    width: 120px;
    font-weight: lighter;
    font-family: sans-serif;
    font-size:16px;
}

/* Footer here */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
   
}
.row{
	display: flex;
	flex-wrap: wrap;
    margin-bottom: 20px;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}
/* tagline here */
.tag{
    margin: auto;
    text-align: center;
    margin-top: 20px;
    color: #ffffff;
    margin-bottom: 20px;
}

/* endline apps here */
.endline{
    display: flex;
    margin: auto;
    text-align: center;
    margin-top:10px;
    background-color: #ffffff;
}
.endline > img{
    width: 30px;
    display: flex;
    background-color: #ffffff;
}
.endline > h5{
    margin-top:10px;
}
.endline > .apps{
    display: flex;
    color: #ffffff;
}